<h2>CREATE A TICKET</h2>

<form [formGroup]="form" (ngSubmit)="create()" class="form">
    <div class="row form-header">
        <div class="col-6">Ticket ID: {{id}}</div>
        <div class="col-6-reverse"><button type="submit" [disabled]="form.invalid" class="btn-primary">CONFIRM</button></div>
    </div>
    <div class="form-body">
        <div class="row">
            <div class="col-6">
                <label for="title" class="text">Title</label><br />
                <input type="text" formControlName="titleField" name="title" id="title" placeholder="Ticket title" class="form-control"><br />

                <label for="description" class="text">Description</label><br />
                <textarea  type="text" formControlName="descriptionField" name="description" id="description" placeholder="Ticket description" class="form-control"></textarea><br />

                <label for="category" class="text">Category</label><br />
                <select formControlName="categoryField" name="category" id="category" class="form-control">
                    <option *ngFor="let category of categories" value="{{category}}" >{{category}}</option>
                </select><br />

                <label for="status" class="text">Status</label><br />
                <select formControlName="statusField" name="status" id="status" class="form-control">
                    <option *ngFor="let status of statuses" value="{{status}}">{{status}}</option>
                </select><br />
            </div>
            <div class="col-6" style="height: 100%">
                <label for="myName" class="text">My name</label><br />
                <input type="text" formControlName="myNameField" name="myName" id="myName" placeholder="To fill the author field" class="form-control"><br />

                <span class="text">I am</span><br />
                <input type="radio" name="iAmField" formControlName="iAmField" [value]="false" id="external">
                <label for="external" class="text">External</label><br />
                <input type="radio" name="iAmField" formControlName="iAmField" [value]="true" id="internal">
                <label for="internal" class="text">Ixternal</label><br />
            </div>
        </div>
    </div>
</form>

